body {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}


.banner-top {
    margin: 0px;
    padding: 90px;
    font-family: 'Roboto Slab', serif;
    background-image: url(/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;

}

.banner-container {
    width: 50%;
}